{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}
    {{ title }} | {{ site_title|default:_("Django site admin") }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}

    <link
        rel="stylesheet"
        href="{% static 'core/admin/admin_global.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'core/admin/admin_actions.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'core/admin/admin_feedback.css' %}"
    >
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <script
        src="{% static 'core/admin/admin_global.js' %}"
        defer
    ></script>

    <script
        src="{% static 'core/admin/admin_slug_guard.js' %}"
        defer
    ></script>

    <script
        src="{% static 'core/admin/admin_feedback.js' %}"
        defer
    ></script>

    <script
        src="{% static 'core/admin/admin_phone_digits.js' %}"
        defer
    ></script>
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        {{ site_header|default:_("Django administration") }}
    </a>
</div>

{% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}