{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        name="description"
        content="{% block meta_description %}کلارخانه؛ معرفی املاک، ویلاها و پروژه‌های ساختمانی منتخب در کلاردشت{% endblock %}"
    >

    <meta
        name="theme-color"
        content="#176b32"
    >

    <title>
        {% block title %}
            کلارخانه | املاک کلاردشت
        {% endblock %}
    </title>


    <link
        rel="icon"
        type="image/png"
        href="{% static 'core/images/favicon.png' %}"
    >

    <link
        rel="apple-touch-icon"
        href="{% static 'core/images/favicon.png' %}"
    >


    <link
        rel="stylesheet"
        href="{% static 'core/css/main.css' %}?v=20260802-6"
    >


    {% block extra_css %}
    {% endblock %}

</head>


<body>

    {% include "includes/header.html" %}


    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        {% block footer %}
        {% endblock %}
    </footer>


    <script
        src="{% static 'core/js/navigation.js' %}?v=20260802-6"
        defer
    ></script>


    {% block extra_js %}
    {% endblock %}

</body>

</html>