{% extends "base.html" %}


{% block title %}
خانه رویایی شما | سامانه املاک
{% endblock %}


{% block meta_description %}
مجموعه‌ای حرفه‌ای از املاک منتخب و پروژه‌های ساختمانی برای خرید، اجاره و سرمایه‌گذاری مطمئن
{% endblock %}


{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>خانه رویایی شما اینجاست</h1>

        <p>
            مجموعه‌ای حرفه‌ای از املاک منتخب و پروژه‌های ساختمانی
            برای خرید، اجاره و سرمایه‌گذاری مطمئن
        </p>

        <a class="button" href="/admin/">
            ورود به پنل مدیریت
        </a>
    </div>
</section>
{% endblock %}